@font-face {
  font-family: 'DSEG7Modern';
  font-style: normal;
  font-weight: 400;
  src: local('DSEG7Modern'), local('DSEG7Modern'),
       url('../fonts/DSEG7Modern-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/DSEG7Modern-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DSEG7Modern-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    background-color: $charcoal;
    font-family: $font-family;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
    justify-content: center;
}

.logo {
    padding-top: 20px;
}

.title {
    color: $smoke;
    font-size: 48px;
    text-transform: uppercase;
    text-shadow: 0 0 20px black;
}
