[Unit]
Description=SimEngine Core Daemon
After=neo4j.service
After=redis.service

[Service]
ExecStart=/var/lib/simengine-core/enginecore/app.py
Restart=always
TimeoutStartSec=15s
RestartSec=15s

[Install]
WantedBy=multi-user.target